<div id="wrapper">
    <div id="nav">
        <img src="/images/andrew-vasquez.jpg" id="user_image" class="circle">

        <h4 id="username">{{user.user_name}}</h4>

        <ul>
            {{!-- <li>
                <a href="/dashboard">Home</a>
            </li> --}}
            <a href="/dashboard"><li>
               Collection
            </li></a>
            <a href="/deckview"><li>
               Deck
            </li></a>
            {{!-- <li>
                Check Prices
            </li> --}}
        </ul>
    </div>

    <main>
        <div id="con">
            <h3 id="title">Collection
                <hr>
            </h3>
            <button id="add-card" class="waves-effect waves-light modal-trigger" href="#modal1">+ Add Card</button>
            {{!--
            <a id="add-card" class="waves-effect waves-light modal-trigger" href="#modal1">+ Add Card</a> --}}

            <div id="all-cards" class="row">
                {{#each card}}
                <div class="col s3" id="card-container">
                    <img src="{{card_image}}">
                    <p>{{card_name}}</p>
                    <p>{{card_description}}</p>
                    <button class="round-btn" id="remove-card" data-id="{{card_id}}">Remove Card</button>
                </div>
                {{/each}}
            </div>

        </div>

        <!-- Modal Trigger -->

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Search for a card</h4>
                <input type="text" id="search-val" placeholder="Card Name"> {{!--
                <button id="search-card">Search</button> --}}
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                <a href="#!" class="waves-effect waves-green btn-flat" id="search-card">Search</a>
            </div>
        </div>
    </main>
</div>

<script type="text/javascript" src="javascript/add-card.js"></script>
<script type="text/javascript" src="javascript/remove-card.js"></script>