<link rel="stylesheet" href="/stylesheets/decks.css">
<span id="collection-id" data-id="{{deck.deck_id}}"></span>

<div class="row">
    <div class="col s12">
        <h1 class="white-text">Deck View</h1>
        <a href="#modal1" class="btn blue-grey darken-4 modal-trigger">+ Add Card</a>
    </div>
</div>


<div class="row">
    <table class="striped highlight">
        <thead>
            <tr>
                <th>Card Name</th>
                <th>Mana Cost</th>
                <th>Desc.</th>
                <th>Quantity</th>
            </tr>
        </thead>

        <tbody>
            {{#each cards}}
            <tr>
                <td>{{card_name}}</td>
                <td class="center">{{card_mana_cost}}</td>
                <td>{{card_text}}</td>
                <td class="center">{{DeckComp.dataValues.card_quantity}}</td>
                <td><a href="#" class="btn blue-grey darken-4" id="increase-card"  data-card-id="{{card_id}}" data-deck-id="{{DeckComp.dataValues.deck_id}}"
                    data-quantity="{{DeckComp.dataValues.card_quantity}}">+1</a></td>
                <td><a href="#" class="btn blue-grey darken-4" id="decrease-card"  data-card-id="{{card_id}}" data-deck-id="{{DeckComp.dataValues.deck_id}}"
                    data-quantity="{{DeckComp.dataValues.card_quantity}}">-1</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>

<div id="modal1" class="modal blue-grey darken-4 white-text">
    <div class="modal-content">
        <h4>Search for a card</h4>
        <input type="text" id="search-val" placeholder="Card Name" class="white-text"> {{!--
        <button id="search-card">Search</button> --}}
        <div class="modal-footer blue-grey darken-4 white-text">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text" id="close-modal">Close</a>
            <a href="#!" class="waves-effect waves-green btn-flat white-text" id="search-card">Search</a>
        </div>
        <div class="row" id="modal-content">
        </div>
    </div>
</div>

<script type="text/javascript" src="../javascript/add-deck.js"></script>
<script type="text/javascript" src="../javascript/add-card.js"></script>
<script type="text/javascript" src="../javascript/remove-card.js"></script>
<script type="text/javascript" src="../javascript/close-modal.js"></script>